/* Stile per il contenitore principale */


body {
  margin: 0;
  font-family:  'Exo','Montserrat','Open Sans', 'Arial Narrow Bold', sans-serif, sans-serif;
  background-color: #2a343c;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: #bb3a58 solid 1px;
}
  
.navbar-buttons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}
  
.navbar-logo a {
  color: #bb3a58;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-logo a img {
  width: 120px; /* Adattabile */
  max-width: 100%;
}
  
.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Occupa lo spazio disponibile tra il logo e il login */
  justify-content: flex-start; /* Allinea gli elementi a sinistra */
  gap: 20px; /* Spazio tra gli elementi del menu */
}

.navbar-menu li {
  margin: 0 15px;
}
  
.navbar-menu a {
  color: #f2f5ea;
  text-decoration: none;
  font-size: 1em;
}
  
.navbar-menu a:hover {
  color: #bb3a58;
}

.login-button {
  padding: 8px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
  margin-left: 20px
}

.login-button:hover {
  background-color: #bb3a58;
  color: #f2f5ea;
}

.movie-details-container {
  width: 90%; /* Adattabile */
  max-width: 1200px; /* Limita larghezza massima */
  margin: 20px auto;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.movie-header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}


#movie-poster {
  width: 325px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.movie-info {
  flex: 1;
  color: #f2f5ea;
}

.movie-info h1 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #bb3a58;
}

.movie-info p {
  margin-bottom: 10px;
  font-size: 1em;
}

.movie-info .back-button, .newreviews-button, .submit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #bb3a58;
  color: #f2f5ea;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newreviews-button{
  padding-bottom: 15px;
  margin-bottom: 20px;
}


.cancel-button{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f2f5ea;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.movie-info .back-button:hover, .submit-button:hover {
  background-color: #f2f5ea;
  color: #bb3a58;
}

.movie-description {
  margin-top: 20px;
}

.movie-description p {
  font-size: 1em;
  line-height: 1.6;
  color: #f2f5ea;
}
/* Pulsanti navbar */

.navbar a.active {
  color: #bb3a58;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-menu {
    gap: 10px;
    font-size: 0.9em;
  }

  .movie-info h1 {
    font-size: 1.8em;
  }

  .movie-description h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .navbar-logo a img {
    width: 100px;
  }

  .login-button {
    font-size: 0.9em;
    padding: 6px 12px;
  }

  .movie-info h1 {
    font-size: 1.5em;
  }

  .movie-description p {
    font-size: 0.9em;
  }
}

.login-button {
  background-color: #f2f5ea;
  color: #bb3a58;
  font-weight: bold;
}

.login-button:hover {
  background-color: #bb3a58;
  color: #f2f5ea;
}

h2 {
  padding-left: 5px;
  text-align: center;
}

.reviews {
  margin: 30px 0;
}

.reviews h2 , .movies-correlated h2, .movie-description h2{
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #bb3a58;
  text-align: left;
}

.review {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-img {
  width: 50px; /* Specifica una larghezza fissa per l'immagine */
  height: 50px; /* Assicura che l'area sia quadrata */
  overflow: hidden; /* Nasconde le parti eccedenti */
  border-radius: 50%; /* Rende l'immagine rotonda */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd; /* Colore di sfondo se l'immagine non viene caricata */
  margin-right: 5px;
}

.user-review p {
  margin: 0;
}

.all-reviews {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #bb3a58;
  color: #f2f5ea;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.all-reviews:hover {
  background-color: #f2f5ea;
  color: #bb3a58;
}

.movies-carosello {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Consente lo scorrimento orizzontale */
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth; /* Scorrimento fluido */
}

.movie-card {
  background-color: #1c1c1c; /* Sfondo scuro */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  width: 150px; /* Adattata per il layout */
  text-align: center;
  flex: 0 0 auto; 
}

.movie-card:hover {
  transform: scale(1.05); /* Leggero ingrandimento */
}

.movie-thumbnail-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.movie-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.movie-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #2ecc71; /* Verde brillante */
  color: #fff;
  font-size: 0.8em;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.movie-info {
  padding: 10px 5px;
}

.movie-title {
  font-size: 1em; /* Testo principale */
  margin: 5px 0;
  color: #f2f5ea;
  text-overflow: ellipsis; /* Per il testo lungo */
  white-space: nowrap;
  overflow: hidden;
}

.movie-duration {
  font-size: 0.85em; /* Testo secondario */
  color: #bb3a58;
}

.movies-carosello::-webkit-scrollbar {
  display: none;
}

.carosello-container {
  position: relative;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: #bb3a58;
}














/* Contenitore principale della recensione */
.review {
  background-color: #2a343c;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row; /* Disposizione orizzontale */
  gap: 20px; /* Spaziatura tra gli elementi */
}

.review:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Header della recensione (dati utente e data) */
.review-header {
  display: flex;
  align-items: flex-start; /* Allineamento in alto */
  gap: 10px; /* Spaziatura tra l'immagine e le informazioni */
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-info {
  flex-grow: 1;
}

.review-author {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.review-date {
  font-size: 14px;
  color: #888;
}

/* Contenuto della recensione */
.review-content {
  flex-grow: 2; /* Il contenuto occupa più spazio */
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  white-space: pre-wrap; /* Gestisce le linee lunghe */
  word-wrap: break-word;
}

/* Footer della recensione (rating e bottone segnala) */
.review-footer {
  display: flex;
  flex-direction: column; /* Disposizione verticale per rating e bottone */
  gap: 10px; /* Distanza tra la valutazione e il pulsante */
}

.review-rating {
  font-size: 14px;
  font-weight: bold;
  color: #f39c12;
}

.report-button {
  background-color: #bb3a58;
  color: #f2f5ea;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.report-button:hover {
background-color: #f2f5ea;
  color: #bb3a58;
}

.report-button:focus {
  outline: none;
}

/* Rende le recensioni responsivi su schermi più piccoli */
@media (max-width: 768px) {
  .review {
    flex-direction: column; /* Passa alla colonna su dispositivi mobili */
    padding: 10px;
  }

  .review-header {
    flex-direction: column; /* Orienta l'header in colonna su mobile */
    align-items: flex-start;
  }

  .review-footer {
    flex-direction: row; /* Mantieni il footer orizzontale */
    justify-content: space-between;
    width: 100%;
  }
}
.review-rating {
  font-weight: bold;
  font-size: 16px;
}




.rating-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  stroke-width: 8;
  fill: none;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 1s ease-in-out, stroke 0.5s ease-in-out;
}

.background-circle {
  stroke: #333;
  stroke-width: 8;
  fill: none;
}

.rating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
} 

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  animation: slideDown 0.3s ease-out;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */
.modal-header {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bb3a58;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #bb3a58;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #aaaaaa;
  cursor: pointer;
  transition: color 0.2s;
}

.close-button:hover {
  color: #555555;
}

/* Body */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-body input,
.modal-body select,
.modal-body textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #2a343c;
  transition: border-color 0.2s, background-color 0.2s;
  color: white;
}

.modal-body textarea {
  min-height: 150px;
  max-height: 150px;
  min-width: 400px;
  max-width: 400px;
}

.modal-body input:focus,
.modal-body select:focus,
.modal-body textarea:focus {
  border-color: #bb3a58;
  background-color: #2a343c;
  outline: none;
}

.modal-body textarea {
  height: 100px;
  resize: none;
}

/* Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.cancel-button {
  background-color: #f5f5f5;
  color: #333333;
}

.cancel-button:hover {
  background-color: #eaeaea;
}

.submit-button {
  background-color: #bb3a58;
  color: #ffffff;
}

/* Animations */
@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: bold;
  color: white;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
